* {
  //   box-sizing: border-box;
  //   margin: 0;
  //   padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  //   text-decoration: none;
  list-style-type: none;
}
@mixin flexbox($d-t: flex, $j-c: space-between, $a-i: center) {
  display: $d-t;
  justify-content: $j-c;
  align-items: $a-i;
}

$main-color: #deeefc;
$text-color: rgba(6, 18, 36, 0.9);
header {
  background: $main-color;
  height: 100vh;

  nav {
    width: 100%;
    height: 70px;
    // padding: 0 155px;
    padding-top: 20px;

    @include flexbox(flex, space-between, center);

    .nav_right {
      width: 70%;

      @include flexbox(flex, space-around, center);
    }

    ol {
      @include flexbox(flex, none, center);
      column-gap: 40px;

      li {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: $text-color;
        margin-top: 15px;
      }
    }

    .nav_bts {
      @include flexbox(flex, none, center);
      column-gap: 20px;
      .btn1 {
        font-weight: 500;
        font-size: 14px;
        color: $text-color;
        border: none;
        padding: 8px 24px;
        border-radius: 45px;
        border: 1px solid #1264e5;
        background-color: $main-color;
        text-transform: uppercase;
      }
      .btn2 {
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
        border: none;
        padding: 8px 32px;
        border-radius: 45px;
        background-color: #1264e5;
        text-transform: uppercase;
      }
    }
    .fas {
      display: none;
    }
  }

  section {
    margin-top: 120px;
    section .btn3 {
      border-radius: 45px;
    }
  }
}

.reklama {
  display: flex;
  padding: 0 210px;
  margin-top: 76px;
  column-gap: 70px;
  .reklama1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    img {
      width: 60px;
      height: 60px;
      margin-top: 10px;
    }
  }
}
.monitor {
  width: 100%;
  background: #d8f1f0;
  margin-top: 75px;

  .d_lex {
    @include flexbox(flex, space-between, none);

    .monitor_left {
      padding-top: 57px;
      button {
        border: 1.5px solid #1064e5;
        box-sizing: border-box;
        border-radius: 46px;
        padding: 10px 30px;
        background: #d8f1f0;
        color: $text-color;
      }
    }
    .monitor_right {
      margin-top: 85px;
    }
  }
  .d_lex2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 90px;
    padding-right: 50px;

    button {
      font-weight: 500;
      font-size: 14px;
      color: #ffffff;
      border: none;
      padding: 12px 30px;
      border-radius: 45px;
      background-color: #1264e5;
      text-transform: uppercase;
      margin-top: 15px;
    }
  }
}
.tarifi {
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: $text-color;
    padding-top: 57px;
  }
  .cards {
    @include flexbox(flex, center, center);
    gap: 32px;
    padding-top: 63px;

    .card1 {
      width: 265px;
      height: 355px;
      background: #deeefc;
      border-radius: 4px;
      padding-left: 32px;

      h3 {
        padding-top: 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        color: $text-color;
      }
      p {
        padding-top: 44px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
      }
      h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color: $text-color;
        span {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
        }
      }
      button {
        width: 192px;
        height: 40px;
        background: #1064e5;
        border-radius: 100px;
        color: #ebf5f6;
        font-weight: 600;
        font-size: 12px;
        border: none;
        text-transform: uppercase;
        margin-top: 50px;
      }
      .alone_btn {
        margin-top: 87px;
      }
    }
  }
}
.numbers {
  width: 100%;
  margin-top: 98px;
  background: #d8f1f0;
  text-align: center;

  h2 {
    padding-top: 43px;
    font-style: normal;
    font-weight: 500;
    font-size: 73px;
  }
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 43px;
  }
}
.singy {
  // padding-bottom: 300px;
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding-top: 47px;
  }
  .images {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    // margin-top: 10px;
  }
  .paska {
    position: relative;
    top: 200px;
  }
}
.down_section {
  width: 100%;
  background: #d8f1f0;
  margin-top: 120px;

  h2 {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: $text-color;
    padding-top: 38px;
  }
  .boxes {
    @include flexbox(flex, center, center);
    column-gap: 54px;
    padding-top: 32px;

    img {
      border-radius: 4px;
    }

    p {
      font-size: 14px;
      padding-top: 14px;
    }
    h6 {
      font-size: 24px;
      padding-bottom: 44px;
    }
  }
}
footer {
  width: 100%;
  background: #061224;
  .fot_up {
    @include flexbox(flex, center, center);
    padding-top: 64px;

    .p1 {
      padding-left: 150px;
      color: #ffffff;
    }
    .p2 {
      padding-left: 67px;
      color: #ffffff;
    }
    .p3 {
      padding-left: 244px;
      color: #ffffff;
    }
    .p4 {
      padding-left: 150px;
      color: #ffffff;

      opacity: 0.8;
    }
  }
  .fot_center {
    @include flexbox(flex, none, center);
    .p1 {
      padding-left: 285px;
      color: #ffffff;
      padding-top: 32px;
    }
    .p2 {
      padding-left: 720px;
      color: #ffffff;
      padding-top: 32px;

      opacity: 0.8;
    }
  }
  .fur_down {
    @include flexbox(flex, none, center);
    padding-bottom: 56px;
    .p1 {
      color: #ffffff;

      opacity: 0.4;
    }
    .p2 {
      padding-left: 185px;
      color: #ffffff;

      opacity: 0.4;
    }
    .p3 {
      padding-left: 100px;
      color: #ffffff;

      opacity: 0.4;
    }
  }
}
@media screen and(max-width:500px) {
  header {
    nav {
      .nav_right {
        display: none;
      }
      .fas {
        display: block;
      }
    }
  }
  section {
    padding-top: 40px;
    .bola {
      h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
      }
      .btn3 {
        display: none;
      }
    }
  }
}

@media screen and(max-width:500px) {
  .reklama {
    flex-direction: column;
    padding: 0 20px;
    margin-top: 30px;
    row-gap: 20px;
  }
}
@media screen and(max-width:500px) {
  .monitor {
    .d_lex {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .monitor_right {
        img {
          width: 280.05px;
          height: 159px;
        }
      }
    }
  }
  .d_lex2 {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

    .m_left {
      img {
        width: 280.05px;
        height: 159px;
        margin-top: 32px;
      }
    }
  }
}

@media screen and(max-width:500px) {
  .tarifi {
    h2 {
      font-size: 20px;
    }

    .cards {
      flex-direction: column;
      padding-top: 20px;
    }
  }
}

@media screen and(max-width:500px) {
  .numbers {
    margin-top: 33px;
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}
@media screen and(max-width:500px) {
  .singy {
    h2 {
      font-size: 20px;
    }
    .images {
      flex-wrap: wrap;
      column-gap: 50px;
      img {
        width: 78px;
        height: 48px;
      }
    }
    .paska {
      top: 100px;
    }
  }
}
@media screen and(max-width:500px) {
  .down_section {
    margin-top: 70px;
    h2 {
      font-size: 20px;
      padding-top: 20px;
    }
    .boxes {
      flex-direction: column;
    }
  }
}
@media screen and(max-width:500px) {
  footer {
    display: none;
  }
}
